body {
    background-color: #500104;
}
h1 {
    color: #ffffff;
    margin: 20px 50px;
    font-weight: bold;
}
p {
    color: #929497;
    margin: 20px 50px;
    font-size: 14px;
}
footer {
    color: #000000;
}
a {
    color: #fff999;
}
.navbar-default > .navbar-nav > .active > a {
    color: #58595b !important;
}
.navbar-default > .navbar-nav > .active > a:hover {
    color: #81BEF7 !important;
}
.navbar-default .navbar-nav > li > a {
    color: #58595b !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #81BEF7 !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #cccccc;
}
.navbar-default .navbar-brand {
    color: #58595b !important;
}
.navbar-default .navbar-brand:hover {
    color: #81BEF7 !important;
}
.navbar-brand {
    padding: 15px 63px !important;
}
.navbar-toggle {
    margin-right: 35px !important;
}
#header {
    padding: 0;
}
.navbar-default {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #000000;
}
.navbar-nav > .active > a {
    background-color: #000000 !important;
}
.banner {
    height: 600px;
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
}
iframe {
    margin-left: 100px;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.awardsImage {
    padding-top: 100px;
    margin-right: 50px;
}
.exec_card {
    padding: 50px;
}
.staff {
    color: #ffffff;
    text-align: center;
}
.staff_title {
    color: #ffffff;
    text-align: center;
}
/*.img-thumbnail {
    background-color: #000000 !important;
    border: 5px solid #000000 !important;
    border-radius: 40px !important;
}*/
.agent_image {
    margin-left: 31%;
}
#equal {
    display: inline;
}
blockquote {
    border: none;
}
.nav-pills > li > a {
    color: #d0d2d3;
    display: inline;
}
.nav-pills > li {
    padding: 15px;
}
.subcategories {
    color: #929497;
}
.area {
    color: #929497;
}
.info {
    color: #929497;
    margin-left: 0;
}
.table {
    width: 80%;
    color: #929497 !important;
}
.btn {
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 25px;
}
.form-control {
    width: 80% !important;
}
.form-group {
    margin-left: 50px;
    color: #d0d2d3;
}
.help-block {
    color: #d0d2d3;
}
.panel {
    width: 90%;
    margin-left: 50px;
}
.city {
    margin: -10px 0;
}
.price {
    float: right;
    margin-top: -28px;
}
.property-table {
    width: 100%;
}
.modal-button {
    margin-top: 0;
    background-color: #cccccc;
    border-color: #cccccc;
}
.carousel-inner > .item > img {
    margin-left: 35px;
}
#sticker {
    width: 100%;
    z-index: 1;
}
#side-sticker {
    top: 65px !important;
}
.relocate-p {
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}
.relocate-h3 {
    color: #d0d2d3;
    padding-left: 15px;
}
.relocate-h6 {
    color: #d0d2d3;
    font-size: 15px;
    padding-left: 15px;
}
.relocate-table {
    color: #929497;
    padding-left: 15px;
    padding-right: 15px;
}
.relocate-td {
    padding: 15px 40px 15px 15px;
    font-size: 14px;
}
.relocate-list {
    color: #929497;
}
.relocate-h4 {
    color: #d0d2d3;
    padding-left: 15px;
}
.footer-text {
    color: #929497;
    padding: 15px;
}
textarea {
    width: 322px;
}
.documents {
    padding-left: 10px;
}
.doc-list {
    list-style: none;
}
.property-info {
    color: #000000;
}
.contactForm {
    color: #929497 !important;
}
.submit {
    color: #000000;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .agent_image {
        margin-left: 8%;
    }
    form {
        margin-left: 50px;
    }
}
@media (min-width: 600px)and (max-width: 800px) {
    iframe {
        margin-left: 50px;
    }
}
@media (max-width: 600px) {
    iframe {
        width: 350px;
        height: 275px;
        margin-left: 50px;
    }
    .panel {
        width: 100% !important;
        margin-left: 0 !important;
    }
}
@media (max-width: 400px) {
    p {
        margin: 20px 25px;
    }
    h1 {
        margin: 20px 25px;
    }
    .exec_card {
        padding: 0;
    }
    .agent_image {
        margin-left: 0%;
    }
    .panel {
        width: 100% !important;
        margin-left: 0 !important;
    }
    form {
        margin-left: 20px;
    }
}