<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/commercial_header.JPG');">
    </div>
</div>
<div id="body" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Commercial Rentals</h1>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="" target="_blank"></a></h4><br/>
            <p class="city"></p><h4 class="price"></h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-responsive property-table">
                <thead>
                <tr class="property-info">
                    <th>Images</th>
                    <th>Brief Summary</th>
                    <th>Year Built</th>
                    <th>Square Feet</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>Features</th>
                </tr>
                </thead>
                <tr class="property-info">
                    <td><button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#srd"><img class="img-responsive" src="" alt=""/></button></td>
                    <!--Modal -->
                    <div class="modal fade" id="srd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        </ol>
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img class="img-responsive" src="" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive" src="" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive" src="" alt="...">
                                            </div>
                                            <div>
                                                <p></p>
                                            </div>
                                            <div>
                                                <ul>
                                                    <li><b>Cooling: </b></li>
                                                    <li><b>Heating: </b></li>
                                                    <li><b>Exterior Material: </b></li>
                                                    <li><b>Roof Type: </b></li>
                                                    <li><b>Structure Type: </b></li>
                                                    <li><b>School District: </b></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div