<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/contact_header.jpg');">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Thank You</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>Thank you for contacting us we will be in touch with you within 72 hours!</p>
        </div>
    </div>
</div>