<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/contact_header.jpg');">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Contact Us</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>We value your opinion and we would love to hear from you!  Let us know how we can help you today!</p>
            <br/>
            <br/>
            <p>Clark Real Estate</p>
            <p>1111 Yellowstone Ave.</p>
            <p>Pocatello, Idaho 83201</p>
            <p>Phone: (208) 233-2424</p>
            <p>Email: contact@clarkrealestateco.com</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            [[$contactForm]]
        </div>
    </div>
</div>