<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/documents_header.JPG');">
    </div>
</div>
<h1>Documents</h1>
<p>You can find any documents that you may need in order to work with us.  They are all documents that you will have to download and print yourself, once you have the appropriate paperwork filled out you can bring it by our office at 1111 Yellowstone Ave. or you may fax it to 208-232-1137.</p>
<ul class=doc-list>
    <li class="documents"><a href="http://clarkrealestateco.com/documents/rentalApp2.pdf">Rental Application Page 1</a></li>
    <li class="documents"><a href="http://clarkrealestateco.com/documents/rentalApp1.pdf">Rental Application Page 2</a></li>
</ul>
