<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/main-header.jpg');">
    </div>
</div>
<div id="body" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Clark Real Estate Since 1940</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Clark Real Estate was founded in 1940 by LuVern Thomas Clark.  Since the business opened its doors in 1940 it has been owned by either LuVern or his son Rodney Thomas Clark.  In the 75 years Clark Real Estate has operated they have maintained having multiple family members in key roles around the office.  Their office has moved multiple times throughout the years.  In the beginning they were in a small office on 5th Avenue.  Once they had grown a bit they moved into a larger office in the Pocatello Heights building at 344 N. 15th Avenue.  Currently their office is located at 1111 Yellowstone, which is right next to Jamba Juice.
            </p>
            <p>
                Over the last 75 years, Clark Real Estate has been involved in selling Real Estate, developing subdivisions, investing, commercial rentals, and residential rentals.  They have also owned and operated over 600 rentals at one time.  LuVern and Rodney have also spent time traveling all over the United States to invest money and help others with projects, particularly in the states of Idaho, Utah, Arizona, California, Ohio, and Florida.
            </p>
            <p>
                Currently the main staff at the Clark Real Estate office are: Gary A. Clark who is the broker as well as an agent.  Patricia M. Rawlings who is an agent and the office manager.  Julie Myers who is the Rental and Maintenance Manager, and Karen Clark Hill who is the Advertising Manager, Photographer, and Bookkeeper.
            </p>
            <p>
                Clark Real Estate has been in the Pocatello area for well over 75 years.  They are extremely proud of that fact and the fact that they have been able to support the Pocatello area.  They also have major pride in the fact that they are a small but successful family owned business.
            </p>
            <p>
                In addition to all these wonderful things about Clark Real Estate, Rodney, Gary and Pat have all been the President of the Board of Realtors here in Pocatello.  We would be honored to help you find your new home!  Give us a call today at (208)233-2424 to take the next steps in starting your new adventure!
            </p>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2922.9358149877407!2d-112.45180963558197!3d42.89530092996586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x535545f82212c2af%3A0x38de2ad21e47b951!2sClark+Real+Estate!5e0!3m2!1sen!2sus!4v1421100044333" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>