<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/properties_header.jpg');">
    </div>
</div>
<div id="body" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Properties</h1>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="" target="_blank">7875 N. Prospector Hollow</a></h4><br/>
            <p class="city">Pocatello, Idaho </p><h4 class="price"></h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-responsive property-table">
                <thead>
                <tr class="property-info">
                    <th>Images</th>
                    <th>Brief Summary</th>
                    <th>Year Built</th>
                    <th>Square Feet</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>Features</th>
                </tr>
                </thead>
                <tr class="property-info">
                    <td><button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#prospector"><img class="img-responsive" src="/assets/images/site/main-header.jpg" alt=""/></button></td>
                    <!--Modal -->
                    <div class="modal fade" id="prospector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">7875 N. Prospector Hollow Pocatello, Idaho</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                        </ol>
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img class="img-responsive" src="assets/images/7875-N-Prospector-Hollow/DOWNBEDROOM .jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive" src="" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive" src="" alt="...">
                                            </div>
                                            <div>
                                                <p>This unique and beautiful home sits on over 12 acres with 5 bedrooms, 4.5 bathrooms, 2 family rooms, formal dining room, and even has a pool and fire pit.  The custom kitchen has custom granite and tile throughout. You'll have plenty of room for toys with a 4 car attached garage. There's really too much to list, Call Pat at 221-1543 or Gary at 251-2424 for your own personal showing.</p>
                                            </div>
                                            <div>
                                                <ul>
                                                    <li><b>central Cooling: </b>YES</li>
                                                    <li><b>propane Heating: </b>YES</li>
                                                    <li><b>Exterior Material: </b>BRICK AND WOOD SIDING</li>
                                                    <li><b>Roof Type: </b>ARCHITECTURAL</li>
                                                    <li><b>Structure Type: </b>SINGLE FAMILY UNIT</li>
                                                    <li><b>Schools: </b>EDAHOW, FRANKLIN, CENTURY</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <td>Very unique and beautiful home that has 12.3 acres. Has 5 bedrooms, 4.5 bathrooms, 2 family rooms, formal dining room, 2 sitting areas, huge laundry area. outside pool, and fire pit. Huge custom kitchen with gas range, dishwasher, microwave, and island,  Has jetted tub in master bath, lots of granite and the tile throughout. Upgraded carpet, 1 fireplace,- 1 on main level. Has large family room down with wet bar. Has wet bar in bonus/family room on upper level.  All Bedrooms are large. Vaulted ceilings, central air conditioner, has 4 car garage and 6 detached garage.  2 furnaces and 2 water heaters. Has water softener.  So many amenities cannot list them all.  Seller willing to retain garage and part of acreage at a reduced price. MLS# 549898</td>
                    <td>1997</td>
                    <td>5007</td>
                    <td>5</td>
                    <td>4.5</td>
                    <td>pool, jetted tub, walk-in closets, vaulted ceilings</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        <h4 class="panel-title"><a href="" target="_blank">1884 N. Arizona</a></h4><br/>
        <p class="city">Chubbuck, Idaho </p><h4 class="price">$26,500</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive property-table">
            <thead>
            <tr class="property-info">
                <th>Images</th>
                <th>Brief Summary</th>
                <th>Year Built</th>
                <th>Square Feet</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Features</th>
            </tr>
            </thead>
            <tr class="property-info">
                <td><button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#id_name"><img class="img-responsive" src="" alt=""/></button></td>
                <!--Modal -->
                <div class="modal fade" id="id_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">1884 N. Arizona Chubbuck, ID $26,500</h4>
                            </div>
                            <div class="modal-body">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div>
                                            <p>Really nice 1996 Nashua double wide manufactured home with 2 huge bedrooms and 2 large bathrooms.  Huge living room and dining area with nice size kitchen. Fridge, range, dishwasher are included.  FA electric heat. Separate room for laundry area.  Has 2 new large decks in front and back. Has vinyl siding and asphalt shingle roof.  Has double vinyl windows. Seller will do $1000.00 in landscaping.  CAll Pat for your personal showing or for more details at 221-1543. Price has been reduced to $26,500. MLS#550552 </p>
                                        </div>
                                        <div>
                                            <ul>
                                                <li><b>Cooling: </b>n/a</li>
                                                <li><b>Heating: </b>FA electric</li>
                                                <li><b>Exterior Material: </b>vinyl siding</li>
                                                <li><b>Roof Type: </b>Asphalt shingle </li>
                                                <li><b>Structure Type: </b>Manufactured Home </li>
                                                <li><b>School District: </b>Wilcox, Hawthorne, Highland</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>Really nice 1996 Nashua double wide manufactured home with 2 huge bedrooms and 2 large bathrooms. Huge living room and dining area with nice size kitchen. </td>
                <td>1996</td>
                <td>1092</td>
                <td>2</td>
                <td>2</td>
                <td>2 Large decks</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        <h4 class="panel-title"><a href="" target="_blank">211 Circle Inn #5</a></h4><br/>
        <p class="city">Chubbuck, ID</p><h4 class="price">$26,500</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive property-table">
            <thead>
            <tr class="property-info">
                <th>Images</th>
                <th>Brief Summary</th>
                <th>Year Built</th>
                <th>Square Feet</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Features</th>
            </tr>
            </thead>
            <tr class="property-info">
                <td><button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#id_name"><img class="img-responsive" src="" alt=""/>Enter image you want displayed here in the form of /assets/images/property_folder_name/image_name</button></td>
                <!--Modal -->
                <div class="modal fade" id="id_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">211 Circle Inn #5 Chubbuck, ID $26,500</h4>
                            </div>
                            <div class="modal-body">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div>
                                            <p>Very Nice 1996 Kit double wide (40'x27') manufactured home. Has wood siding and asphalt shingle roof. Has 2 spacious bedrooms and 2 large bathrooms. Huge living room and dining area. Large kitchen which includes fridge, range and dishwasher. Gas FA heat and window air conditioner.  Has huge covered patio/deck and shed. Has vinyl double windows. All interior has been completely painted. Brand new carpet installed.  Call Pat Rawlings for more information or for your personal showing 221-1543. Priced has been reduced to $26,500 MLS# 550555.</p>
                                        </div>
                                        <div>
                                            <ul>
                                                <li><b>Cooling: </b>window air conditioner </li>
                                                <li><b>Heating: </b>Gas FA</li>
                                                <li><b>Exterior Material: </b>Wood siding</li>
                                                <li><b>Roof Type: </b>Asphalt shingle</li>
                                                <li><b>Structure Type: </b>Manufactured Home</li>
                                                <li><b>School District: </b>Wilcox, Alameda, Highland</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>Very nice 1996 Kit double wide (40'x27') manufactured home. Has 2 spacious bedrooms and 2 large bathrooms.</td>
                <td>1996</td>
                <td>1080 Square Feet</td>
                <td>2</td>
                <td>2</td>
                <td>Huge Patio/Deck and Shed</td>
            </tr>
        </table>
    </div>
</div>

