<h1>#Clark Real Estate Company Website</h1>

<p>Static public site for Clark Real Estate Company</p>

<h1>#Finding the files you need to edit</h1>

<p>In MODX which is located at clarkrealestateco.com/manager you will see a file tree on the left side of the screen.  There are three tabs titled Resources, Elements, and Files.  The tabs that will concern you are Resources and Files, I will talk about Files next.  The pages are located in the Resources file tree.  The pages and what information they contain are as follows:

<ul class="relocate-list">
    <li>Home - Main page - contains information about Clark Real Estate and a map to the office in Pocatello</li>
    <li>agent - Staff page - contains pictures and information about all of the members of the staff at the office in Pocatello</li>
    <li>properties - Properties page - Contains all information pertaining to properties for sale in the Pocatello area</li>
    <li>other - Other properties page - Contains all information pertaining to properties for sale outside of the Pocatello area</li>
    <li>commercial - Commercial properties page - Contains all information pertaining to commercial properties for sale and/or for rent</li>
    <li>rentals - Rental properties page - Contains all information pertaining to properties that are for rent</li>
    <li>relocation - Pocatello Relocation Guide - Contains information regarding relocation to the Pocatello area</li>
    <li>documents - Document Download page - Contains all documents Clark Real Estate would like to allow people to download</li>
    <li>contact - Contact page - Contains information on how to contact Clark Real Estate as well as a contact form. PLEASE DON'T MESS WITH THE CONTACT FORM</li>
    <li>confirm - Confirmation page - Contains a confirmation that a contact form was successfully submitted to Clark Real Estate as well as how long it will take for Clark Real Estate to re-contact the person requesting information</li>
    <li>readme - Page for content managers reference - Contains information and notes to help the content manager maintain a good looking website. </li>
</ul></p>

<h1>#Uploading files and images</h1>

<p>The files tab on the left hand side is where you will upload documents and images that you want to appear on your website.  Images should be uploaded under assets &gt; images &gt; directory.  When I say "directory" I mean you should create a new directory which I recommend be titled something related to the property that the images go with.  In order to create a new directory right click on images and select "create directory here" name it what you want and hit save.  Once you have the directory created right click on the directory link and select "upload files" click choose files and find the directory on your computer that contains the files you are wanting to upload.  You can upload several at the same time.  Once you are ready to upload click upload and wait for it to finish.  You reference the images as I have indicated below.  The line of code will look something like this <pre>&lt;img class="img-responsive" src="/assets/images/SRD/srd1.jpg" alt="..."&gt;</pre> </p>
<p>In order to get the image to show up properly you need to enter the text " /assets/images/new_directory_name/new_image_name.jpg " no quotation marks.</p>

<p>Files are uploaded into the documents folder in the files tab on the left side of ModX.  You will follow the same procedure as the images to upload documents.  In order to get them to show up on your website you will need to enter a line of code that looks like this:<br/>
<pre>&lt;li class="documents"&gt;&lt;a href="http://clarkrealestateco.com/documents/name_of_file.pdf"&gt;Enter the name of the document here&lt;/a&gt;&lt;/li&gt;</pre></p>

<h1>#Adding Properties to the website</h1>

<p>Copy the following code into the Resource</p>

<pre>&lt;div class="panel panel-default table-responsive"&gt;
        &lt;div class="panel-heading"&gt;
            &lt;h4 class="panel-title"&gt;&lt;a href="" target="_blank"&gt;Enter Address Here&lt;/a&gt;&lt;/h4&gt;&lt;br/&gt;
            &lt;p class="city"&gt;Enter City Here&lt;/p&gt;&lt;h4 class="price"&gt;Enter Asking Price Here&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class="panel-body"&gt;
            &lt;table class="table table-hover table-responsive property-table"&gt;
                &lt;thead&gt;
                    &lt;tr class="property-info"&gt;
                        &lt;th&gt;Images&lt;/th&gt;
                        &lt;th&gt;Brief Summary&lt;/th&gt;
                        &lt;th&gt;Year Built&lt;/th&gt;
                        &lt;th&gt;Square Feet&lt;/th&gt;
                        &lt;th&gt;Bedrooms&lt;/th&gt;
                        &lt;th&gt;Bathrooms&lt;/th&gt;
                        &lt;th&gt;Features&lt;/th&gt;
                   &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tr class="property-info"&gt;
                    &lt;td&gt;&lt;button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#id_name"&gt;&lt;img class="img-responsive" src="" alt=""/&gt;Enter image you want displayed here in the form of /assets/images/property_folder_name/image_name&lt;/button&gt;&lt;/td&gt;
                    &lt;!--Modal --&gt;
                    &lt;div class="modal fade" id="id_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"&gt;
                        &lt;div class="modal-dialog"&gt;
                            &lt;div class="modal-content"&gt;
                                &lt;div class="modal-header"&gt;
                                    &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
                                    &lt;h4 class="modal-title" id="myModalLabel"&gt;Enter Property Address and Listing Price Here&lt;/h4&gt;
                                &lt;/div&gt;
                                &lt;div class="modal-body"&gt;
                                    &lt;div id="carousel-example-generic" class="carousel slide" data-ride="carousel"&gt;
                                        &lt;!-- Indicators --&gt;
                                        &lt;ol class="carousel-indicators"&gt;
                                            &lt;li data-target="#carousel-example-generic" data-slide-to="0" class="active"&gt;&lt;/li&gt;
                                            &lt;li data-target="#carousel-example-generic" data-slide-to="1"&gt;&lt;/li&gt;
                                            &lt;li data-target="#carousel-example-generic" data-slide-to="2"&gt;&lt;/li&gt;
                                        &lt;/ol&gt;
                                        &lt;!-- Wrapper for slides --&gt;
                                        &lt;div class="carousel-inner" role="listbox"&gt;
                                            &lt;div class="item active"&gt;
                                                &lt;img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="..."&gt;
                                            &lt;/div&gt;
                                            &lt;div class="item"&gt;
                                                &lt;img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="..."&gt;
                                            &lt;/div&gt;
                                            &lt;div class="item"&gt;
                                                &lt;img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="..."&gt;
                                            &lt;/div&gt;
                                            &lt;div&gt;
                                                &lt;p&gt;Enter Details about the property here, can be as long as you want.&lt;/p&gt;
                                            &lt;/div&gt;
                                            &lt;div&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;&lt;b&gt;Cooling: &lt;/b&gt;Enter cooling information here&lt;/li&gt;
                                                    &lt;li&gt;&lt;b&gt;Heating: &lt;/b&gt;Enter heating information here&lt;/li&gt;
                                                    &lt;li&gt;&lt;b&gt;Exterior Material: &lt;/b&gt;Enter Exterior Material information here&lt;/li&gt;
                                                    &lt;li&gt;&lt;b&gt;Roof Type: &lt;/b&gt;Enter Roof Type information here&lt;/li&gt;
                                                    &lt;li&gt;&lt;b&gt;Structure Type: &lt;/b&gt;Enter Structure Type information here&lt;/li&gt;
                                                    &lt;li&gt;&lt;b&gt;School District: &lt;/b&gt;Enter School District information here&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;!-- Controls --&gt;
                                        &lt;a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"&gt;
                                            &lt;span class="glyphicon glyphicon-chevron-left" aria-hidden="true"&gt;&lt;/span&gt;
                                            &lt;span class="sr-only"&gt;Previous&lt;/span&gt;
                                        &lt;/a&gt;
                                        &lt;a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"&gt;
                                            &lt;span class="glyphicon glyphicon-chevron-right" aria-hidden="true"&gt;&lt;/span&gt;
                                            &lt;span class="sr-only"&gt;Next&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="modal-footer"&gt;
                                    &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;td&gt;Enter Brief Summary of Property Here, 1-2 Sentences&lt;/td&gt;
                    &lt;td&gt;Enter Year Built Here&lt;/td&gt;
                    &lt;td&gt;Enter Square Feet Here&lt;/td&gt;
                    &lt;td&gt;Enter Number of Bedrooms Here&lt;/td&gt;
                    &lt;td&gt;Enter Number of Bathrooms Here&lt;/td&gt;
                    &lt;td&gt;Enter Additional Features Here&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;</pre>

<p>It should look like this</p>

<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        <h4 class="panel-title"><a href="" target="_blank">Enter Address Here</a></h4><br/>
        <p class="city">Enter City Here</p><h4 class="price">Enter Asking Price Here</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive property-table">
            <thead>
            <tr class="property-info">
                <th>Images</th>
                <th>Brief Summary</th>
                <th>Year Built</th>
                <th>Square Feet</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Features</th>
            </tr>
            </thead>
            <tr class="property-info">
                <td><button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#id_name"><img class="img-responsive" src="" alt=""/>Enter image you want displayed here in the form of /assets/images/property_folder_name/image_name</button></td>
                <!--Modal -->
                <div class="modal fade" id="id_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Enter Property Address and Listing Price Here</h4>
                            </div>
                            <div class="modal-body">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="...">
                                        </div>
                                        <div>
                                            <p>Enter Details about the property here, can be as long as you want.</p>
                                        </div>
                                        <div>
                                            <ul>
                                                <li><b>Cooling: </b>Enter cooling information here</li>
                                                <li><b>Heating: </b>Enter heating information here</li>
                                                <li><b>Exterior Material: </b>Enter Exterior Material information here</li>
                                                <li><b>Roof Type: </b>Enter Roof Type information here</li>
                                                <li><b>Structure Type: </b>Enter Structure Type information here</li>
                                                <li><b>School District: </b>Enter School District information here</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>Enter Brief Summary of Property Here, 1-2 Sentences</td>
                <td>Enter Year Built Here</td>
                <td>Enter Square Feet Here</td>
                <td>Enter Number of Bedrooms Here</td>
                <td>Enter Number of Bathrooms Here</td>
                <td>Enter Additional Features Here</td>
            </tr>
        </table>
    </div>
</div>

<p>Replace the 'Enter Information Here' text with the relevant information. </p>

<h1>#Adding more images to the pop-up carousel</h1>

<p>Add the following line next to the others that look similar to it.  Change the data-slide-to="2" to 3 or whatever number is next in line.</p>

<pre>&lt;li data-target="#carousel-example-generic" data-slide-to="2"&gt;&lt;/li&gt;</pre>

<p>Next add the following code right below the others that look like this.</p>

<pre>&lt;div class="item"&gt;
        &lt;img class="img-responsive" src="Enter image to display here in the form of /assets/images/property_folder_name/image_name" alt="..."&gt;
&lt;/div&gt;</pre>

<h1>#Adding more staff to staff page or editing staff currently on staff page</h1>

<p>To add additional staff copy and paste the following code into the "agent resource"</p>

<pre>&lt;div class="exec_card new_staff_name"&gt;
                &lt;img class="img-responsive agent_image" src="/assets/images/site/img_name"/&gt;
                &lt;h2 class="staff"&gt;Enter new staff member name here&lt;/h2&gt;
                &lt;h4 class="staff_title"&gt;Enter new staff member title&lt;/h4&gt;
                &lt;p&gt; Enter text about new staff member here&lt;/p&gt;
                &lt;p&gt;Enter more text about new staff member here or you can delete this section if it's not needed.  From &lt;p&gt; to &lt;/p&gt; &lt;/p&gt;
            &lt;/div&gt;</pre>

<p>It should look like this</p>

<div class="exec_card new_staff_name">
    <img class="img-responsive agent_image" src="/assets/images/site/img_name"/>
    <h2 class="staff">Enter new staff member name here</h2>
    <h4 class="staff_title">Enter new staff member title</h4>
    <p> Enter text about new staff member here</p>
    <p>Enter more text about new staff member here or you can delete this section if it's not needed.  From &lt;p&gt; to &lt;/p&gt; </p>
</div>

<p>Replace the text and images where indicated with the appropriate text.  </p>

<p>To edit text about a current staff member: </p>

<p>Edit the text that appears between the tags &lt;p&gt; and &lt;/p&gt;.</p>

<h1>#Adding additional Documents to the Documents page</h1>

<p>Copy and paste the following code into the &lt;ul&gt; on the documents page:</p>

<pre>&lt;li class="documents"&gt;&lt;a href="http://clarkrealestateco.com/documents/document_name"&gt;Enter the name of the new document as you want it to appear on the web page&lt;/a&gt;&lt;/li&gt;</pre>

<p>Replace the indicated text with the applicable text. </p>