<div id="header" class="container-fluid">
    <div class="banner img-responsive"
         style="background-image: url('/assets/images/site/relocation_header.JPG');">
    </div>
</div>
<a name="welcome"></a>
<h1>Pocatello Relocation Guide</h1>
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
    <nav id="side-sticker" class="navbar-left">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills">
                    <li><a href="#welcome">Welcome</a></li>
                    <br/>
                    <li><a href="#pocatello">Pocatello</a></li>
                    <br/>
                    <li><a href="#chubbuck">Chubbuck</a></li>
                    <br/>
                    <li><a href="#education">Education</a></li>
                    <br/>
                    <li><a href="#recreation">Attractions and Recreation</a></li>
                    <br/>
                    <li><a href="#general">General Information</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<div class="col-md-9">
<h3 class="relocate-h3"><b>Welcome To Southeast Idaho!</b></h3>
<p class="relocate-p">Southeast Idaho is made up of the cities of Pocatello, Chubbuck, Blackfoot, American Falls and Inkom.  These communities are located off of Interstate 15 and Interstate 86, the crossroads to Salt Lake City, Boise, Yellowstone, the Grand Teton National Parks, Sun Valley and a multitude of other important destinations.  The area is rich in history, education, agriculture, industry, tourism and recreation.  The Snake River and Portneuf River run through this magnificent area.</p>
<h6 class="relocate-h6">Climate and Topography</h6>
<p class="relocate-p">Nestled in the foothills of the Rocky Mountains 4,448 feet above sea level.  Clear, dry and sunny days are normal for this region of Idaho.  This desirable four-season area receives less than 15 inches of precipitation annually, summers are dry and comfortably warm.  The average temperateure in the summer is 72 degrees, while the average temperature in the winter is 35 degrees, an average swing of 37 degrees.</p>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Average Summer Temperature</td>
        <td class="relocate-td">87.5&deg;</td>
    </tr>
    <tr>
        <td class="relocate-td">Average Winter Temperature</td>
        <td class="relocate-td">32.5&deg;</td>
    </tr>
    <tr>
        <td class="relocate-td">Annual Precipitation</td>
        <td class="relocate-td">Less than 15 inches</td>
    </tr>
    <tr>
        <td class="relocate-td">Elevation</td>
        <td class="relocate-td">4,448 Feet</td>
    </tr>
    <a name="pocatello"></a>
    </tbody>
</table>
<h3 class="relocate-h3"><b>Pocatello</b></h3>
<p class="relocate-p">Pocatello which is pronounced poke-uh-tell-o is the county seat of Bannock County and was founded as a railroad center in 1882.  Pocatello is located along the Portneuf River near the intersection of highways I-15 and I-86, half way between Salt Lake City, Yellowstone Park and Sun Valley.  The city is home to Idaho State University which provides an excellent educational base to the area as well as extending the cultural awareness of the area.  Nearby national forests offer an abundance of year round outdoor recreation, spectacular scenery and plentiful wildlife.  The city provides plentiful entertainment - county fairs, rodeos, top-notch college and high school athletics, and a multitude of outdoor activities.  Year round recreational activities are always available such as: golf, tennis, swimming, fishing, hunting, skiing, hiking or soaking in one of many hot springs.</p>
<p class="relocate-p">The Portneuf River runs through Pocatello and converges with the Snake River at the American Falls Reservoir.  The beautiful attractions in and around Pocatello brings the area a lot of tourism making it one of the areas top employers and the reason why the city is often referred to as \"The Gate City\"  The city of Pocatello still sits where it was originally built, it has just expanded around the original city.  Old Town Pocatello is an intricate part of the Portneuf Greenway.  The Greenway traverses along the Portneuf River for nearly 20 miles, with handicap access along the way.</p>
<p class="relocate-p">Pocatello is named after the Shoshone-Bannock Indian Chief Pocatello, who made available to the railroad a right-of-way through the Fort Hall Indian Reservation.  The Shoshone and Bannock Indian Tribes inhabited this area of Idaho long before Meriwether Lewis and William Clark arrived in 1805.  The Lewis and Clark Exposition opened this land for fur traders and trappers.  A few miles northeast of Pocatello lies Fort Hall, established in 1834, by the Hudson Bay Company.  Due to over trapping and a major change in the fashion world Fort Hall became a supply point for immigrants traveling the famed Oregon Trail. </p>
<p class="relocate-p">It was not the Gold Rush of 1860 that brought thousands of immigrants, who settled this portion of Idaho.  The Gold Rush developed a need for goods and services in the Portneuf Valley, home of Pocatello.  Initially stage lines and freight companies used this corridor.  As Idaho's mineral resources and Pocatello Junction were developed and became an important crossroad, the Union Pacific Railroad extended its service westward.  As gold began to diminish in 1882 the settlers who stayed began turning to agriculture.  This region became a major supplier of potatoes, grain and other crops with help of irrigation from the Snake River.</p>
<h6 class="relocate-h6"><b>Economy</b></h6>
<p class="relocate-p">Pocatello enjoys a stable and diversified economic base with the leading source of income in the area being agricultural processing and products, manufacturing, mining surrounding trade, agriculture, transportation, education, high tech, nuclear research and tourism.  An active economic development team headquartered at Idaho State University research and the Business Park are assets helping to keep the economy diverse.  The Government sector provides a quarter of the jobs in Bannock County because the area is home to Idaho National Laboratory (INL), Idaho State University, the Idaho Women's Correctional Facility, FBI Western Region Customer Support Center, Burequ of Land Management (BLM), US Forest Service, US Federal Court House, Idaho Fish and Game, school districts along with local, and city governments.</p>
<h6 class="relocate-h6"><b>Major Employers</b></h6>
<ul class="relocate-list">
    <li>Government, Including INL</li>
    <li>On Semiconductor, Inc</li>
    <li>Convergys Customer Management</li>
    <li>Farm Bureau Insurance</li>
    <li>Farmers Insurance</li>
    <li>Amy's Kitchen</li>
    <li>Idaho State University</li>
    <li>Portneuf Medical Center</li>
    <li>Beacon Health Services</li>
    <li>Union Pacific Railroad</li>
    <li>Belmont Care Center</li>
    <li>Varsity Conductors</li>
    <li>Walmart</li>
</ul>
<h6 class="relocate-h6"><b>Taxes</b></h6>
<p class="relocate-p">Property Taxes are limited to one percent of market value, against \"percentage of value,\" levies are applied.  At present, a $70,000 Pocatello home you will pay approximately $1,054 annually in property taxes, with homeowner's exemption.  The state of Idaho collects a 6% general retail sales tax, a personal income tax of 1.6-7.4% of taxable income, and a 7.7% corporate income tax.</p>
<h4 class="relocate-h4"><b>Transportation Services</b></h4>
<h6 class="relocate-h6"><b>Railroad</b></h6>
<p class="relocate-p">The Union Pacific Railroad supplies service to the southeastern portion of Idaho.  Pocatello has a history of railroad involvement thus many of the buildings have access to valuable railroad spurs.  New industry can be connected to the rail system with little or no effort.  Pocatello is the regional headquarters of the Union Pacific Railroad and houses the largest classification yard in the Intermountain West.</p>
<h6 class="relocate-h6"><b>Airlines</b></h6>
<p class="relocate-p">Pocatello Regional Airport is a full service airport: restaurant and Lounge, meeting rooms, auto rentals, full instrument system and air traffic control system, public parking as well as easy access to the interstate.  The airport is located 10 miles west of town off Hwy 86.  Sky West your Delta connection has a number of flights daily to Salt Lake City.</p>
<ul class="relocate-list">
    <li>Airport - <a href="tel:2082346154">(208) 234-6154</a> - <a href="www.iflypocatello.com">www.iflypocatello.com</a></li>
    <li>SkyWest - <a href="tel:2082211212">(208) 221-1212</a> - <a href="tel:2082346154">(208) 234-6154</a></li>
</ul>
<h6 class="relocate-h6"><b>Bus</b></h6>
<p class="relocate-p">GreyHound - <a href="tel:2082346248">(208) 234-6248</a></p>
<h6 class="relocate-h6"><b>Public Transportation</b></h6>
<ul class="relocate-list">
    <li>Pocatello Urban Transit - <a href="tel:2082346248">(208) 234-6248</a></li>
    <li>Operates 7 bus routes</li>
    <li>Charter service</li>
    <li>Serves ISU students</li>
    <li><a href="www.pocatellotransit.com">www.pocatellotransit.com</a></li>
</ul>
<h4 class="relocate-h4"><b>Housing Information</b></h4>
<h6 class="relocate-h6">Housing</h6>
<p class="relocate-p">Please check with your Realtor for updated housing information.</p>
<p class="relocate-p">Clark Real Estate<br/>
    <a href="www.clarkrealestateco.com">www.clarkrealestateco.com</a><br/>
    <a href="tel:2082332424">(208) 233-2424</a><br/></p>
<p class="relocate-p">Pocatello's cost of living is well below the national average for such items as groceries, housing, utilities, transportation and miscellaneous goods and services.</p>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Avg. Residential Listing Price in Pocatello</td>
        <td class="relocate-td">$160,131</td>
    </tr>
    <tr>
        <td class="relocate-td">Avg. Residential Listing Price in Bannock Co.</td>
        <td class="relocate-td">$160,008</td>
    </tr>
    <tr>
        <td class="relocate-td">Median Rent</td>
        <td class="relocate-td">$550-800</td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Utilities</b></h6>
<p class="relocate-p">Average cost of residential electricity $71 (1,000KWH/mo.)</p>
<p class="relocate-p">Average cost of residential natural gas $85 (75 Therms/mo.)</p>
<p class="relocate-p">INTERMOUNTAIN GAS COMPANY - <a href="tel:2086376400">(208) 637-6400</a> - <a
        href="www.intgas.com">www.intgas.com</a></p>
<p class="relocate-p">IDAHO POWER - <a href="tel:2082367735">(208) 236-7735</a> - <a href="www.idahopower.com">www.idahopower.com</a></p>
<h6 class="relocate-h6"><b>Health Care</b></h6>
<p class="relocate-p">Modern health care and medical services in Pocatello include: Two regional acute care facilities, operating through the Portneuf Medical Center.  Both fully accredited and equipped with state-of-the-art diagnostic technology including: MRI, CT scanners, 24-hour emergency physician staffed care centers and specialized women's centers.</p>
<p class="relocate-p">Portneuf Medical Center is a not for profit facility owned by the citizens of Bannock County with approximately 1,300 employees.</p>
<p class="relocate-p">Portneuf Medical Center<br/>
    777 Hospital Way<br/>
    <a href="tel:2082391000">(208) 239-1000</a></p>
<h6 class="relocate-h6"><b>Retired Living and Senior Services</b></h6>
<p class="relocate-p">Pocatello is a great place to retire, in fact it was named as one of the top 10 places to retire.  In addition to comprehensive services, Pocatello offers good weather, friendly folk, accessible outdoor recreation, affordable housing and top-notch medical facilities. The community features a vibrant arts culture and further learning through Idaho State University.</p>
<p class="relocate-p">There is a full list of housing options including houses, apartments, condominiums, assisted living and nursing homes available at the Area Agency on Aging.  They can be reached at
    <a href="tel:2082334032">(208) 233-4032</a> or visit <a href="www.sicog.org">www.sicog.org</a></p>
<h6 class="relocate-h6"><b>Shopping and Dinning</b></h6>
<p class="relocate-p">Shopping and dining is plentiful in the community.  The Old Town historic district is home to many unique shops and eateries.  One can enjoy a leisurely day of shopping in the district or walking the greenway.  The Pine Ridge Mall located in Chubbuck has Herbergers, JC Penney, Sears, and Shopko as anchor stores.  Numerous other stores are located in the mall.</p>
<h6 class="relocate-h6"><b>Parks and Recreation</b></h6>
<p class="relocate-p">The Pocatello area has approximately 40 parks.  Parks offer an array of activities, from walking, biking, athletic fields, and tennis courts.  The Portneuf Greenway gives access to sites of the Portneuf River along the trail.  Ross Park is well known for its summer concerts, aquatic center, picnic area, and zoo.  the golf enthusiast can enjoy the sport in the area's two public golf courses and one private country club.</p>
<h4 class="relocate-h4"><b>Pocatello Statistics</b></h4>
<h6 class="relocate-h6"><b>Population</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Idaho</td>
        <td class="relocate-td">1,546,590</td>
    </tr>
    <tr>
        <td class="relocate-td">Pocatello</td>
        <td class="relocate-td">54,777</td>
    </tr>
    <tr>
        <td class="relocate-td">Bannock Co.</td>
        <td class="relocate-td">83,800</td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Income</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Per Capita Personal Income</td>
        <td class="relocate-td">1996</td>
        <td class="relocate-td">2000</td>
        <td class="relocate-td">2011</td>
    </tr>
    <tr>
        <td class="relocate-td">Bannock County</td>
        <td class="relocate-td">$17,854</td>
        <td class="relocate-td">$20,856</td>
        <td class="relocate-td">$28,818</td>
    </tr>
    <tr>
        <td class="relocate-td">State of Idaho</td>
        <td class="relocate-td">$20,248</td>
        <td class="relocate-td">$24,073</td>
        <td class="relocate-td">$32,881</td>
    </tr>
    <tr>
        <td class="relocate-td">United States</td>
        <td class="relocate-td">$24,175</td>
        <td class="relocate-td">$29,843</td>
        <td class="relocate-td">$41,560</td>
    </tr>
    </tbody>
</table>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td"><h6><b>Labor Force</b></h6></td>
        <td class="relocate-td">2000</td>
        <td class="relocate-td">2013</td>
    </tr>
    <tr>
        <td class="relocate-td">Total Labor Force</td>
        <td class="relocate-td">38,397</td>
        <td class="relocate-td">39,247</td>
    </tr>
    <tr>
        <td class="relocate-td">% of Labor Force Unemployed</td>
        <td class="relocate-td">3.5</td>
        <td class="relocate-td">6.4</td>
    </tr>
    <tr>
        <td class="relocate-td">Idaho % Unemployed</td>
        <td class="relocate-td">3.5</td>
        <td class="relocate-td">6.7</td>
    </tr>
    <tr>
        <td class="relocate-td">U.S. % Unemployed</td>
        <td class="relocate-td">4.6</td>
        <td class="relocate-td">7.3</td>
    </tr>
    <a name="education"></a>
    </tbody>
</table>
<h3 class="relocate-h3"><b>Education</b></h3>
<p class="relocate-p">Pocatello's School District has a solid reputation when it comes to quality of education, grades K-12.  they are nationally recognized for their adult education classes.  Pocatello's School District is more progressive than the average school district:.  They have implemented a Teen Parenting Program and an Evening High School program for students with special needs.</p>
<h6 class="relocate-h6"><b>Pocatello/Chubbuck School District 25</b></h6>
<p class="relocate-p">3115 Pole Line Rd.<br/>
    Pocatello, ID 83201<br/>
    <a href="tel:2082323563">(208) 232-3563</a><br/>
    <a href="">www.d25.k12.id.us</a></p>
<h6 class="relocate-h6"><b>Charter Schools</b></h6>
<p class="relocate-p">Pocatello Community Charter School - <a href="tel:2084782522">(208) 478-2522</a></p>
<h6 class="relocate-h6"><b>Private Schools</b></h6>
<ul class="relocate-list">
    <li>Academy at Roosevelt Center - <a href="tel:2082321447">(208) 232-1447</a></li>
    <li>Calvary Chapel Christian School - <a href="tel:2082379500">(208) 237-9500</a></li>
    <li>Franciscan Cre-act School - <a href="tel:2082334747">(208) 233-4747</a></li>
    <li>Grace Lutheran School - <a href="tel:2082374142">(208) 237-4142</a></li>
    <li>Holy Spirit Catholic School - <a href="tel:2082325763">(208) 232-5763</a></li>
    <li>Pocatello Christian School - <a href="tel:2082518641">(208) 251-8641</a></li>
    <li>Jessie Clark Christian School - <a href="tel:2082375309">(208) 237-5309</a></li>
    <li>ISU Early Learning Center - <a href="tel:2082822769">(208) 282-2769</a></li>
</ul>
<h6 class="relocate-h6"><b>Idaho State University (ISU)</b></h6>
<p class="relocate-p">921 South 8th Ave.<br/>
    Pocatello, ID 83204<br/>
    <a href="tel:2082820211">(208) 282-0211</a><br/>
    <a href="www.isu.edu">www.isu.edu</a></p>
<p class="relocate-p">ISU is amont the fastest growing four year academic educational institutions supported by the State of Idaho.  Originally founded as the Academy of Idaho, ISU celebrated its 100th year of existence in 2001.  The College of Arts and Sciences, Pharmacy, Health-Related Professions, Education, Engineering and Business host over 14,000 students who participate in a Bachelor's Master's and Doctoral Degrees, there are over 255 different degree programs.  ISU is the only university in the United States to allow Shoshone as a general education requirement.  In addition ISU has an outstanding school of applied technology offering classes and opportunities to attain a certificate in several technical and career-oriented fields.</p>
<p class="relocate-p">One of the university's newest departments on campus is the Accelerator Center.  The Idaho Accelerator Center is a partnership between the University of Idaho and the U.S. Department of Energy and Environmental Laboratory (INL).  The center conducts research and provides students with training in radiation science and low-energy charged-particle accelerators.  ISU is one of seven universities that facilitates this new research and educational partnership that is co-managed by the Idaho National Laboratory at INL
    <a href="tel:2082820211">(208) 282-0211.</a></p>
<p class="relocate-p">Idaho State University is home to the L.E. and Thelma E. Stephens Performing Arts Center.  The Center is a world class facility with theaters, a 1,200 seat, state of the art grand concert hall, a central rotunda, offices and classrooms.  The campus also houses the Idaho Museum of Natural History.  This is a state museum holding permanent collections of Idaho artifact and traveling exhibits of current interest.</p>
<a name="chubbuck"></a>
<p class="relocate-p">Holt Arena, with a capacity of approximately 1,200 hosts major athletic events, concerts, trade shows, and the Dodge National Finals Circuit Rodeo.  Holt Arena is the home of ISU Athletics; it is the largest facility in eastern Idaho.</p>
<h3 class="relocate-h3"><b>Chubbuck</b></h3>
<p class="relocate-p">Chubbuck is a progressive community of approximately 10,000 highly motivated residents.  Chubbuck is named after an English railroad conductor, Earl Chubbuck, and has grown to be the 14th largest city in Idaho since incorporating in 1949.  It is strongly associated with Pocatello, a short drive to the south.  Chubbuk is an intrical part of the medical community, shopping and cultural activities, recreation, and transpiring in the area.  Home to the Pine Ridge Mall, Chubbuck has become a regional shopping hub.  There are a number of retirement and assisted living centers to be found in this quiet community.  The city has a comprehensive plan to develop new commercial and light industrial businesses.  A greater majority of the neighborhoods have schools, churches, and recreational facilities within walking distance.</p>
<h6 class="relocate-h6"><b>Climate and Topography</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Elevation</td>
        <td class="relocate-td">4,448 feet</td>
    </tr>
    <tr>
        <td class="relocate-td">Precipitation</td>
        <td class="relocate-td">Less than 15 inches annually</td>
    </tr>
    <tr>
        <td class="relocate-td">Average Summer Temperature</td>
        <td class="relocate-td">72.4 degrees</td>
    </tr>
    <tr>
        <td class="relocate-td">Average Winter Temperature</td>
        <td class="relocate-td">35.4 degrees</td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Chubbuck Population</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Chubbuck City</td>
        <td class="relocate-td">14,067</td>
    </tr>
    <tr>
        <td class="relocate-td">Square Miles in County</td>
        <td class="relocate-td">4.19</td>
    </tr>
    </tbody>
</table>
<a name="recreation"></a>
<h6 class="relocate-h6"><b>Education</b></h6>
<p class="relocate-p">Chubbuck are part of the Pocatello School District.  Click <a href="">here</a> to go to the section on School District #25.</p>
<h3 class="relocate-h3"><b>Attractions and Recreation</b></h3>
<h6 class="relocate-h6"><b>Idaho Museum of Natural History</b></h6>
<p class="relocate-p"><a href="tel:2082823317">(208) 282-3317</a> - ISU Campus<br/>
    5th Ave., Pocatello, Idaho<br/>
    <a href="http://imnh.isu.edu">imnh.isu.edu</a></p>
<p class="relocate-p">Exhibits of dinosaur's fossils that lived in southeast Idaho are on display in the museum.  You will see dioramas and murals showing recreation of Idaho during dinosaur times.  Other exhibits of current events are also featured at the museum.</p>
<h6 class="relocate-h6"><b>Pocatello Zoo</b></h6>
<p class="relocate-p"><a href="tel:2082346264">(208) 234-6264</a><br/>
    Ross Park, Pocatello, Idaho<br/>
    <a href="wwww.pocatellozoo.org">www.pocatellozoo.org</a></p>
<p class="relocate-p">Owned by the city of Pocatello, this zoo features a variety of North American wildlife in a natural setting.  It is open to the public with admission and offers special tours and educational programs.</p>
<h6 class="relocate-h6"><b>Replica of Old Fort Hall</b></h6>
<p class="relocate-p"><a href="tel:2082346232">(208) 234-6232</a><br/>
    Upper Level of Ross Park, Pocatello, Idaho<br/>
    <a href="www.forthall.net">www.forthall.net</a></p>
<p class="relocate-p">The original Fort Hall situated in a sheltered bend of the Snake River near the junction of the Blackfoot and Portneuf Rivers.  Constructed by Nathaniel Jarvis Wyeth as a fur trading fort in 1834 and sold to the Hudson's Bay Company in 1837.  The fort was abandoned sometime around 1855.  Most of the valuable itemswere transferred to a post in Montana.  Because the original site could not be acquired, the Replica is located in Ross Park.  Open year round with limited hours.</p>
<h6 class="relocate-h6"><b>Parks</b></h6>
<p class="relocate-p"><a href="tel:2082346232">(208) 234-6232</a> or <a href="tel:2087858622">(208) 785-8622</a></p>
<p class="relocate-p">Several neighborhood parks are scattered through the community.  These parks provide outdoor recreation from boating and baseball to picknicking.</p>
<h6 class="relocate-h6"><b>Ross Park Aquatic Center</b></h6>
<p class="relocate-p"><a href="tel:2082340472">(208) 234-0472</a> - Ross Park, Pocatello, Idaho<br/>
    <a href="www.pocatello.us/parks_rec">www.pocatello.us/parks_rec</a></p>
<p class="relocate-p">Open Memorial Day through Labor Day weekend, this aquatic complex is more than just a pool!  It is a place for everyone to play and have fun.  The zero depth pool with water play element in the middle is great for children.  The lazy river provides for a relaxing tube ride around an activity pool complete with water basketball and a cargo net that patrons can hold on to while crossing lily pads.  The complex also features a water slide and a 25-yard by 25-meter pool.</p>
<h6 class="relocate-h6"><b>Jensen Grove</b></h6>
<p class="relocate-p"><a href="tel:2087858622">(208) 785-8622</a><br/>
    Blackfoot, Idaho</p>
<p class="relocate-p">Owned by the City of Blackfoot, this park offers something for everyone.  It has a large picnic shelter and many picnic tables.  This multi-functional park also has a skate park, many playground stations, a two mile paved walking path, and 55 acres of water for swimming boating, and jet skiing.</p>
<h6 class="relocate-h6"><b>Portneuf Greenway</b></h6>
<p class="relocate-p">Pocatello, Idaho</p>
<p class="relocate-p">This is a 13+ mile Greenway trail system along the Portneuf River, through the City of Pocatello, and to public land trailheads.  It is a wonderful system to walk and enjoythe sites or to simply sit and relax.</p>
<h4 class="relocate-h4"><b>Museums and Theaters</b></h4>
<h6 class="relocate-h6"><b>Bannock County Historical Museum</b></h6>
<p class="relocate-p"><a href="tel:2082330434">(208) 233-0434</a><br/>
    Upper level of Ross Park, Pocatello, Idaho</p>
<p class="relocate-p">Established in 1963, the museum contains exhibits of bead work and baskets made by the early Shoshone-Bannock Indians, railroad related items, farm tool display and other items showing Bannock County's heritage.  Open year round with limited hours.</p>
<h6 class="relocate-h6"><b>Bingham County Historical Museum</b></h6>
<p class="relocate-p"><a href="tel:2087850397">(208) 785-0397</a>, 190 Shilling, Blackfoot, ID</p>
<p class="relocate-p">The museum was once the social center of Blackfoot.  Built in 1905 by the Brown family, this home was built of lava rock from the basement to the second floor.  The top floor is made of lumber with four columns supporting the balcony.  The home is now a museum reflecting life in Blackfoot at the turn of the century.  Open May through September.</p>
<h6 class="relocate-h6"><b>Idaho Potato Museum</b></h6>
<p class="relocate-p"><a href="tel:2087852517">(208) 785-2517</a><br/>
    130 N.W. Main<br/>
    Blackfoot, ID 83221<br/>
    <a href="www.idahopotatomuseum.com">www.IdahoPotatoMuseum.com</a></p>
<p class="relocate-p">The museum is located in the historic Oregon Short Line Railroad Depot and features educational exhibits of antique farm equipment, priceless photos, faring displays and the World's Largest Potato Chip.  Open April through October.</p>
<h6 class="relocate-h6"><b>Shoshone-Bannock Tribal Museum</b></h6>
<p class="relocate-p"><a href="tel:2082379791">(208) 237-9791</a><br/>
    Exit 80 off I-15, 8 miles north of Pocatello</p>
<p class="relocate-p">This museum is located on the Fort Hall Indian Reservation; it offers the history and culture of the Shoshone and Bannock people through words, photographs, artifact and displays.  Open year round with limited hours.</p>
<h4 class="relocate-h4"><b>Arts and Culture</b></h4>
<h6 class="relocate-h6"><b>L.E. and Thelma E Stephens Performing Arts Center</b></h6>
<p class="relocate-p"><a href="tel:2082823595">(208) 282-3595</a><br/>
    <a href="www.isu.edu/stephens">www.isu.edu/stephens</a></p>
<p class="relocate-p">On the campus of Idaho State University, this center is a crown jewel for the art scene from music and dance to theater and lectures.</p>
<h6 class="relocate-h6"><b>Nuart Theatre</b></h6>
<p class="relocate-p"><a href="tel:2087855344">(208) 785-5344</a><br/>
    195 North Broadway Street, Blackfoot, Idaho<br/>
    <a href="www.nuarttheatre.org">www.nuarttheatre.org</a></p>
<p class="relocate-p">Nuart Theatre is on the National Register of Historic Places.  It was built in the 1920s as a theatre to show silent movies.  Today it's owned by the Blackfoot Community Players and is the site of productions held throughout the year.</p>
<h6 class="relocate-h6"><b>Eastern Idaho State Fair</b></h6>
<p class="relocate-p"><a href="tel:2087852480">(208) 785-2480</a><br/>
    <a href="http://idaho-state-fair.com">idaho-state-fair.com</a></p>
<p class="relocate-p">Established in 1902, by a group of local cattlemen to sprint a livestock show and sale.  This fair has been running continuously since its conception.  A Labor Day tradition in Blackfoot, there are activities for all.</p>
<h6 class="relocate-h6"><b>Bannock County Fairgrounds</b></h6>
<p class="relocate-p"><a href="tel:2082371340">(208) 237-1340</a>, Pocatello, Idaho</p>
<p class="relocate-p">Home to soccer fields, racetrack, rodeo arena, grandstand, smaller arenas, horse stalls, exhibit buildings, and RV Park.  This fairgrounds houses both the South Bannock County Fair and the North Bannock County Fair.</p>
<h4 class="relocate-h4"><b>Golf</b></h4>
<h6 class="relocate-h6"><b>Blackfoot Municipal Golf Course</b></h6>
<p class="relocate-p"><a href="tel:2087859960">(208) 785-9960</a><br/>
    Blackfoot, Idaho</p>
<p class="relocate-p">An 18-hole course, bordered on the north by the Snake River and the southwest by Jensen Lake.  It is the home of many major golf tournaments.</p>
<h6 class="relocate-h6"><b>Highland Golf Course</b></h6>
<p class="relocate-p"><a href="tel:2082379922">(208) 237-9922</a>, Pocatello, Idaho</p>
<h6 class="relocate-h6"><b>Riverside Golf Course</b></h6>
<p class="relocate-p"><a href="tel:2082329515">(208) 232-9515</a>, Pocatello, Idaho</p>
<h4 class="relocate-h4"><b>Downhill Skiing</b></h4>
<h6 class="relocate-h6"><b>Pebble Creek</b></h6>
<p class="relocate-p"><a href="tel:2087754452">(208) 775-4452</a>, Inkom, Idaho<br/>
    <a href="www.pebblecreekskiarea.com">www.pebblecreekskiarea.com</a></p>
<p class="relocate-p">Vertical Drop: 2,911 feet; 1 double chair, 2 triple chair; 54 runs.  About 1,100 acres, services include nightly grooming, day lodge, food and lessons.</p>
<h6 class="relocate-h6"><b>Kelly Canyon</b></h6>
<p class="relocate-p"><a href="tel:2085386251">(208) 538-6251</a>, Ririe, Idaho<br/>
    <a href="www.skikelly.com">www.skikelly.com</a></p>
<p class="relocate-p">Vertical drop: 1,000 feet, 4 double chair lifts and two rope tows, 26 runs.  About 640 acres, services include a day lodge and rentals.</p>
<h6 class="relocate-h6"><b>Nordic Skiing and Snowmobiling</b></h6>
<p class="relocate-p"><a href="tel:2083344199">(208) 334-4199</a></p>
<p class="relocate-p">The area has abundant miles and acreage for cross country skiing and snowmobiling.  Idaho Department of Parks and Recreation is an excellent resource for further information</p>
<h6 class="relocate-h6"><b>Mink Creek</b></h6>
<p class="relocate-p">About 15 minutes south of Pocatello.  It has around 15 miles of groomed trails for all levels.</p>
<a name="general"></a>
<h6 class="relocate-h6"><b>Trail Canyon</b></h6>
<p class="relocate-p">About 12 minutes northeast of Soda Springs; this area has around 10 miles of groomed trails for all levels.  A warming hut is available.</p>
<h3 class="relocate-h3"><b>General Information</b></h3>
<h6 class="relocate-h6"><b>Idaho the 43rd State</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Capital</td>
        <td class="relocate-td">Boise</td>
    </tr>
    <tr>
        <td class="relocate-td">Area</td>
        <td class="relocate-td">83,557 square miles</td>
    </tr>
    <tr>
        <td class="relocate-td">Elevations</td>
        <td class="relocate-td">12,662 High, 738 Low</td>
    </tr>
    <tr>
        <td class="relocate-td">State Horse</td>
        <td class="relocate-td">Appaloosa</td>
    </tr>
    <tr>
        <td class="relocate-td">State Bird</td>
        <td class="relocate-td">Mountain Bluebird</td>
    </tr>
    <tr>
        <td class="relocate-td">State Fossil</td>
        <td class="relocate-td">Hagerman Horse</td>
    </tr>
    <tr>
        <td class="relocate-td">State Tree</td>
        <td class="relocate-td">Western Pine</td>
    </tr>
    <tr>
        <td class="relocate-td">State Fish</td>
        <td class="relocate-td">Cutthroat Trout</td>
    </tr>
    <tr>
        <td class="relocate-td">State Flower</td>
        <td class="relocate-td">Syringa</td>
    </tr>
    <tr>
        <td class="relocate-td">State Fruit</td>
        <td class="relocate-td">Wild Huckleberry</td>
    </tr>
    <tr>
        <td class="relocate-td">State Folk Dance</td>
        <td class="relocate-td">Square Dance</td>
    </tr>
    <tr>
        <td class="relocate-td">State Gemstone</td>
        <td class="relocate-td">Star Garnet</td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Mileage From Pocatello</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Blackfoot, ID</td>
        <td class="relocate-td">24</td>
    </tr>
    <tr>
        <td class="relocate-td">Boise, ID</td>
        <td class="relocate-td">234</td>
    </tr>
    <tr>
        <td class="relocate-td">Idaho Falls, ID</td>
        <td class="relocate-td">51</td>
    </tr>
    <tr>
        <td class="relocate-td">Missoula, MT</td>
        <td class="relocate-td">363</td>
    </tr>
    <tr>
        <td class="relocate-td">Moscow, ID</td>
        <td class="relocate-td">537</td>
    </tr>
    <tr>
        <td class="relocate-td">Portland, OR</td>
        <td class="relocate-td">732</td>
    </tr>
    <tr>
        <td class="relocate-td">Salt Lake, UT</td>
        <td class="relocate-td">161</td>
    </tr>
    <tr>
        <td class="relocate-td">San Francisco, CA</td>
        <td class="relocate-td">789</td>
    </tr>
    <tr>
        <td class="relocate-td">Seattle, WA</td>
        <td class="relocate-td">734</td>
    </tr>
    <tr>
        <td class="relocate-td">Spokane, WA</td>
        <td class="relocate-td">504</td>
    </tr>
    <tr>
        <td class="relocate-td">West Yellowstone, MT</td>
        <td class="relocate-td">159</td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Voter Qualifications and Registration</b></h6>
<p class="relocate-p">An Idaho voter must be a citizen of the United States, at least 18 years of age on Election Day, a resident in the state, and in the county for thirty days prior to Election Day Registered as required by law.  Any county clerk or official shall register applicant up until twenty-five days preceding any election held throughout the country in which the applicant resides.</p>
<h3 class="relocate-h3"><b>Important Phone Numbers</b></h3>
<h6 class="relocate-h6"><b>Newspapers</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Idaho State Journal</td>
        <td class="relocate-td"><a href="tel:2082326150">(208) 232-6150</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Idaho Unido</td>
        <td class="relocate-td"><a href="tel:2082347383">(208) 234-7383</a></td>
    </tr>
    <tr>
        <td class="relocate-td">The Morning News</td>
        <td class="relocate-td"><a href="tel:2087851100">(208) 785-1100</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>City of Blackfoot</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Building</td>
        <td class="relocate-td"><a href="tel:2087858623">(208) 785-8623</a></td>
    </tr>
    <tr>
        <td class="relocate-td">City Hall</td>
        <td class="relocate-td"><a href="tel:2087858600">(208) 785-8600</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Fire</td>
        <td class="relocate-td"><a href="tel:2087858605">(208) 785-8605</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Garbabe</td>
        <td class="relocate-td"><a href="tel:2087858620">(208) 785-8620</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Groveland Water and Sewer</td>
        <td class="relocate-td"><a href="tel:2087858638">(208) 785-8638</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Sewer</td>
        <td class="relocate-td"><a href="tel:2087858616">(208) 785-8616</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Water</td>
        <td class="relocate-td"><a href="tel:2087858608">(208) 785-8608</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>City of Chubbuck</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Building Permits and Inspections</td>
        <td class="relocate-td"><a href="tel:2082372430">(208) 237-2430</a></td>
    </tr>
    <tr>
        <td class="relocate-td">City Clerk</td>
        <td class="relocate-td"><a href="tel:2082372400">(208) 237-2400</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Fire</td>
        <td class="relocate-td"><a href="tel:2082372430">(208) 237-2430</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Refuse</td>
        <td class="relocate-td"><a href="tel:2082372400">(208) 237-2400</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Planning and Zoning</td>
        <td class="relocate-td"><a href="tel:2082372430">(208) 237-2430</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Public Works</td>
        <td class="relocate-td"><a href="tel:2082372430">(208) 237-2430</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>City of Pocatello</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Building Department</td>
        <td class="relocate-td"><a href="tel:2082346158">(208) 234-6158</a></td>
    </tr>
    <tr>
        <td class="relocate-td">City Clerk</td>
        <td class="relocate-td"><a href="tel:2082346215">(208) 234-6215</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Fire</td>
        <td class="relocate-td"><a href="tel:2082346201">(208) 234-6201</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Refuse</td>
        <td class="relocate-td"><a href="tel:2082346192">(208) 234-6192</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Planning</td>
        <td class="relocate-td"><a href="tel:2082346161">(208) 234-6161</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Sanitation</td>
        <td class="relocate-td"><a href="tel:2082346241">(208) 234-6241</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>County of Bannock</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Clerk and Recorder</td>
        <td class="relocate-td"><a href="tel:2082367340">(208) 236-7340</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Drivers License</td>
        <td class="relocate-td"><a href="tel:2082367258">(208) 236-7258a</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Motor Vehicle</td>
        <td class="relocate-td"><a href="tel:2082367200">(208) 236-7200</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Planning</td>
        <td class="relocate-td"><a href="tel:2082367230">(208) 236-7230</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>County of Bingham</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Clerk and Recorder</td>
        <td class="relocate-td"><a href="tel:2087823163">(208) 782-3163</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Motor Vehicle</td>
        <td class="relocate-td"><a href="tel:2087823031">(208) 782-3031</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Planning</td>
        <td class="relocate-td"><a href="tel:2087823177">(208) 782-3177</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Commerce and Labor</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Blackfoot</td>
        <td class="relocate-td"><a href="tel:2082366713">(208) 236-6713</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Pocatello</td>
        <td class="relocate-td"><a href="tel:2082366710">(208) 236-6710</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Emergency</b></h6>
<p class="relocate-p">911</p>
<h6 class="relocate-h6"><b>Resources</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Blackfoot Chamber or Commerce</td>
        <td class="relocate-td"><a href="tel:2087850510">(208) 785-0510</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Pocatello Chamber of Commerce</td>
        <td class="relocate-td"><a href="tel:2082331525">(208) 233-1525</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Convention and Visitors Bureau Pocatello</td>
        <td class="relocate-td"><a href="tel:2082346184">(208) 234-6184</a></td>
    </tr>
    </tbody>
</table>
<h6 class="relocate-h6"><b>Refuse Collection and Utilities</b></h6>
<table class="relocate-table">
    <tbody>
    <tr>
        <td class="relocate-td">Psi Environmental Services</td>
        <td class="relocate-td"><a href="tel:2082340056">(208) 234-0056</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Snake River Dispose-All</td>
        <td class="relocate-td"><a href="tel:2086343404">(208) 634-3404</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Intermountain Gas Co. Pocatello</td>
        <td class="relocate-td"><a href="tel:2086376400">(208) 637-6400</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Intermountain Gas Co. Blackfoot</td>
        <td class="relocate-td"><a href="tel:8005483679">(800) 548-3679</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Idaho Power (Electric)</td>
        <td class="relocate-td"><a href="tel:2083882200">(208) 388-2200</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Rocky Mountain Power (Electric)</td>
        <td class="relocate-td"><a href="tel:8882217070">(888) 221-7070</a></td>
    </tr>
    <tr>
        <td class="relocate-td">Qwest</td>
        <td class="relocate-td"><a href="tel:8002441111">(800) 244-1111</a></td>
    </tr>
    </tbody>
</table>
</div>
</div>
</div>